
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Montserrat:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-image: url('trainbgg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    background-color: rgb(194, 98, 98); 
    color: #161717;

    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);

    height: auto;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}


.container {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000000;
    padding: 2em;
    max-width: 65vw;
    margin-left: auto;
    margin-right: auto;
}


.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}





